body{
font-family:Arial;
padding:40px;
background:#f4f6f8;
}

input,button{
padding:8px;
margin:5px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
background:white;
}

th,td{
padding:10px;
border:1px solid #ddd;
text-align:center;
}

th{
background:#2c3e50;
color:white;
}

.low{
background:yellow;
}

.tools{
float:right;
display:flex;
gap:10px;
}